body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.name-highlight{
    color: rgba(255, 166, 0, 0.829);
}
.half-side{
    width:40%;
    float: left;
    margin:3%;
    padding-left: 2%;
}
.half-side img{
    width: 90%;
}